@media only screen and (max-width: 768px) {
    .nav-list {
   display: none;
  
}
.navbar {
    display: flex;
    justify-content: end;
}
.navbar-logo {
  position: absolute;

  left: 42%;

}
}